<h1>Welcome, <%= @current_user.email %>!</h1>
<h2> You have got <%= pluralize(@current_client.bookings.count, 'booking')  %> available.</h2>

<% @bookings.each do |booking| %>
<p>
<%= booking.title %>
</p>
<% end %>
