

<h4 class="display-4">Welcome to</h4>
<h1 class="display-3">MICHELIN BOOKER</h1>


<p>What Restaurant would you like to have a dinner at?<p>

<img src="https://mlsiliconvalley.com/get/files/image/galleries/Manresa_Into_the_Vegetable_Garden_photo_credit_Marc_Fiorito.jpg" class="img-fluid" alt="https://mlsiliconvalley.com/get/files/image/galleries/Manresa_Into_the_Vegetable_Garden_photo_credit_Marc_Fiorito.jpg">


<% if @current_client.present? %>
<h1><%= @current_client.name %></h1>
<% end %>

<% if @current_client.present? %>
  <% @restaurants.each do |restaurant| %>

    <p> <%= restaurant.name %> </p>
    <p> rating: <%= restaurant.rating %> stars </p>
    <%= link_to 'See more', restaurant_path(restaurant) %>

  <% end %>

<% end %>
