<%# <p>Find me in app/views/restaurants/show.html.erb</p>%>

<h1><%= @restaurant.name %></h1>

<%= image_tag @restaurant.image, :class => 'feature' if @restaurant.image.present? %>

<%= link_to 'Book now', new_booking_path %>
